@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    background-image: var(--bgc-2);
    background-size: 150% 200%;
    font-size: 1.7rem;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
}

a{
    color: var(--text-color);
}

/***** Root Section *****/ 

:root{
    --main-bgc: #030e30;
    --main-color: #03e0c3;
    --main-bgc--faded: #042075;
    --text-color: #ffffffd2;
    --supporting-text-color-1: #ffffffbe;
    --supporting-text-color-2: #ffffff8c;
    --heading-color: #56494C;
    --text-color-black: rgba(0, 0, 0, 0.76);
    --bgc-2: linear-gradient(49deg,#042075 10%, #030e30 100%);
}

/***** End Root Section *****/

/***** Resuable Section *****/ 

h3{
    font-size: 3rem;
    font-family: "Roboto Slab", serif;
}

button{
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-color);
    background-color: var(--main-bgc);
    color: var(--main-color);
}

button:hover{
    cursor: pointer;
    background-color: var(--main-bgc--faded);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/***** End Resuable Section *****/

/***** Layout *****/ 

.container{
    padding: 2rem 1.6rem 1.6rem;
    margin: 0 auto;
}

.grid{
    display: grid;
}

.grid-two-cols{
    grid-template-columns: repeat(2, 1fr);
}

/***** End Layout *****/

.form-section{
    min-height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18rem;

    .title{
        position: relative;
        margin: 0 0 3rem 0;
    }

    .title::before{
        content: "";
        position: absolute;
        border-bottom: 0.5rem solid var(--main-color);
        border-radius: 1rem;
        width: 9rem;
        bottom: -10px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 1.8rem;

        .input-box{
            color: var(--supporting-text-color-1);
            background-color: var(--supporting-text-color-2);
            width: 40rem;
            height: 4rem;
            border-radius: 8px;
            border: none;
            outline: none;
            padding-left: 2.5rem;
            font-weight: 500;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .input-box:focus{
            border: 2px solid var(--main-color);
        }

        .input-box::placeholder{
            font-size: 1.3rem;
            color: var(--supporting-text-color-1);
        }

        #massage{
            height: 7rem;
        }
    }

    .fa-regular{
        color: var(--main-color);
        font-size: 30rem;
        text-shadow: rgba(0, 0, 0, 0.35) 0px 7px 15px;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        gap: 1.1rem;
        font-size: 1.6rem;
        transition: all .2s linear;

        .arrow{
            height: 1.7rem;
            width: 0rem;
            background-color: var(--main-color);
            clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
        }   
    }

    .button:hover{
        width: 12rem;

        .arrow{
            width: 2.8rem;
        }
    }

}

/***** Media quary Section *****/ 

@media (width < 1200px){
    html{
        font-size: 56.25%;
    }
}

@media (width < 992px){
    html{
        font-size: 53.125%;
    }

    .form-section{
        gap: 15rem;
    }
}

@media (width < 768px){
    .form-section{
        padding-top: 0;
        flex-direction: column;
        gap: 4rem;

        .sec-form{
            order: 2;
        }

        .fa-regular{
            font-size: 25rem;
        }
    }
}

@media (width < 576px){
    html{
        font-size: 50%;
    }

    .form-section{
        padding-top: 0;

        .fa-regular{
            font-size: 23rem;
        }
    }
}



/***** End Media quary Section *****/

